<!DOCTYPE html>
<html>

<head>
  <title>Insove Medical Healthcare</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/depress.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- script
    ================================================== -->
  <script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=9F6lDEK3XZDsEPklTkH7JMbQAXQeduW9_HoLIq1Gcd0bSC5_HUB-N8ZovhD5V0UfQJBgmK6QpGPwBEU-XytCqq7KlvHBhYod7VNK41pYhbQ" charset="UTF-8"></script>
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
</head>

<body>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol xmlns="http://www.w3.org/2000/svg" id="navbar-icon" viewBox="0 0 16 16">
      <path
        d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="location" viewBox="0 0 512 512">
      <circle cx="256" cy="192" r="32" fill="currentColor" />
      <path fill="currentColor"
        d="M256 32c-88.22 0-160 68.65-160 153c0 40.17 18.31 93.59 54.42 158.78c29 52.34 62.55 99.67 80 123.22a31.75 31.75 0 0 0 51.22 0c17.42-23.55 51-70.88 80-123.22C397.69 278.61 416 225.19 416 185c0-84.35-71.78-153-160-153Zm0 224a64 64 0 1 1 64-64a64.07 64.07 0 0 1-64 64Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="phone" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M5 9.86a18.466 18.466 0 0 0 9.566 9.292l.68.303a3.5 3.5 0 0 0 4.33-1.247l.889-1.324a1 1 0 0 0-.203-1.335l-3.012-2.43a1 1 0 0 0-1.431.183l-.932 1.257a12.14 12.14 0 0 1-5.51-5.511l1.256-.932a1 1 0 0 0 .183-1.431l-2.43-3.012a1 1 0 0 0-1.335-.203l-1.333.894a3.5 3.5 0 0 0-1.237 4.355L5 9.86Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="email" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5l-8-5V6l8 5l8-5v2z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="home-thermometer" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M19 8a2 2 0 0 1 2 2v6.76c.61.55 1 1.35 1 2.24c0 1.66-1.34 3-3 3s-3-1.34-3-3c0-.89.39-1.69 1-2.24V10c0-1.1.9-2 2-2m0 1c-.55 0-1 .45-1 1v1h2v-1c0-.55-.45-1-1-1M5 20v-8H2l10-9l4.4 3.96A3.97 3.97 0 0 0 15 10v6c-.63.83-1 1.87-1 3l.1 1H5Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="pregnant-woman" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M10 22v-5H8v-7q0-1.25.875-2.125T11 7q1.25 0 2.125.875T14 10q.9.375 1.45 1.2T16 13v4h-3v5h-3Zm1-16q-.825 0-1.413-.588T9 4q0-.825.588-1.413T11 2q.825 0 1.413.588T13 4q0 .825-.588 1.413T11 6Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="nutrition" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M22 18a4 4 0 0 1-4 4h-4a4 4 0 0 1-4-4v-2h12v2M4 3h10a2 2 0 0 1 2 2v9H8v5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m0 3v2h2V6H4m10 2V6H8v2h6M4 10v2h2v-2H4m4 0v2h6v-2H8m-4 4v2h2v-2H4Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="local-pharmacy" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M3 21v-2l2-6l-2-6V5h12.7l1.45-4l2.35.85L18.35 5H21v2l-2 6l2 6v2H3Zm8-4h2v-3h3v-2h-3V9h-2v3H8v2h3v3Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M8 14q-.425 0-.713-.288T7 13q0-.425.288-.713T8 12q.425 0 .713.288T9 13q0 .425-.288.713T8 14Zm4 0q-.425 0-.713-.288T11 13q0-.425.288-.713T12 12q.425 0 .713.288T13 13q0 .425-.288.713T12 14Zm4 0q-.425 0-.713-.288T15 13q0-.425.288-.713T16 12q.425 0 .713.288T17 13q0 .425-.288.713T16 14ZM5 22q-.825 0-1.413-.588T3 20V6q0-.825.588-1.413T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.588 1.413T19 22H5Zm0-2h14V10H5v10Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="clock" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M12 20a8 8 0 0 0 8-8a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8m0-18a10 10 0 0 1 10 10a10 10 0 0 1-10 10C6.47 22 2 17.5 2 12A10 10 0 0 1 12 2m.5 5v5.25l4.5 2.67l-.75 1.23L11 13V7h1.5Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="quote-up" viewBox="0 0 24 24">
      <path fill="currentColor" d="m10 7l-2 4h3v6H5v-6l2-4h3m8 0l-2 4h3v6h-6v-6l2-4h3Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="quote-down" viewBox="0 0 24 24">
      <path fill="currentColor" d="M14 17h3l2-4V7h-6v6h3M6 17h3l2-4V7H5v6h3l-2 4Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="facebook" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="youtube" viewBox="0 0 32 32">
      <path fill="currentColor"
        d="M29.41 9.26a3.5 3.5 0 0 0-2.47-2.47C24.76 6.2 16 6.2 16 6.2s-8.76 0-10.94.59a3.5 3.5 0 0 0-2.47 2.47A36.13 36.13 0 0 0 2 16a36.13 36.13 0 0 0 .59 6.74a3.5 3.5 0 0 0 2.47 2.47c2.18.59 10.94.59 10.94.59s8.76 0 10.94-.59a3.5 3.5 0 0 0 2.47-2.47A36.13 36.13 0 0 0 30 16a36.13 36.13 0 0 0-.59-6.74ZM13.2 20.2v-8.4l7.27 4.2Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="instagram" viewBox="0 0 256 256">
      <path fill="currentColor"
        d="M128 80a48 48 0 1 0 48 48a48.05 48.05 0 0 0-48-48Zm0 80a32 32 0 1 1 32-32a32 32 0 0 1-32 32Zm48-136H80a56.06 56.06 0 0 0-56 56v96a56.06 56.06 0 0 0 56 56h96a56.06 56.06 0 0 0 56-56V80a56.06 56.06 0 0 0-56-56Zm40 152a40 40 0 0 1-40 40H80a40 40 0 0 1-40-40V80a40 40 0 0 1 40-40h96a40 40 0 0 1 40 40ZM192 76a12 12 0 1 1-12-12a12 12 0 0 1 12 12Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="twitter" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="linkedin" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32Zm-273.3 373.43h-64.18V205.88h64.18ZM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43c0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43Zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44c-17.74 0-28.24 12-32.91 23.69c-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44c42.13 0 74 27.77 74 87.64Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M12 12Zm0 9q-.45 0-.863-.163t-.737-.487l-6.7-6.725q-.875-.875-1.288-2T2 9.275Q2 6.7 3.675 4.85T7.85 3q1.2 0 2.263.475T12 4.8q.8-.85 1.863-1.325T16.125 3q2.5 0 4.188 1.85T22 9.25q0 1.225-.425 2.35t-1.275 2l-6.725 6.75q-.325.325-.725.488T12 21Zm1-13q.25 0 .475.125t.35.325l1.7 2.55h4.15q.175-.425.262-.863t.088-.887q-.05-1.725-1.15-2.963t-2.75-1.237q-.775 0-1.488.3t-1.237.875l-.675.725q-.125.15-.325.238t-.4.087q-.2 0-.4-.087t-.35-.238l-.675-.725q-.525-.575-1.225-.9T7.85 5Q6.2 5 5.1 6.263T4 9.25q0 .45.075.888t.25.862H9q.25 0 .475.125t.35.325l.875 1.3l1.35-4.05q.1-.3.362-.5T13 8Zm.3 3.25l-1.35 4.05q-.1.3-.375.5t-.6.2q-.25 0-.475-.125t-.35-.325L8.45 13H5.9l5.925 5.925q.05.05.088.063T12 19q.05 0 .088-.013t.087-.062l5.9-5.925H15q-.25 0-.475-.125t-.375-.325l-.85-1.3Z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 16 16">
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
    </symbol>
  </svg>

  <header id="header">
    <nav class="header-top pt-4 pb-5">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 col-md-4 col-sm-6">
            <a class="navbar-brand" href="index.html">
                <img src="{{ url_for('static', filename='images/main-logo.png') }}" class="logo">
            </a>
          </div>
          <div class="col-lg-4 col-md-4 d-md-block d-sm-none">
            <ul class="contact-list d-flex justify-content-lg-end flex-wrap list-unstyled m-0">
              <li class="pe-5 pe-lg-0 pe-xxl-5 pb-3 pb-lg-0">
                <svg class="location primary-color" width="24" height="24">
                  <use xlink:href="#location"></use>
                </svg>123 Arling, Miola, NY
              </li>
              <li class="ps-xl-3">
                <svg class="phone primary-color" width="24" height="24">
                  <use xlink:href="#phone"></use>
                </svg>(+487) 384 9452
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn-book text-end">
              <a href="booking.html" class="btn btn-medium btn-outline-primary btn-pill text-uppercase">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav id="primary-header" nav class="navbar navbar-expand-lg shadow-none" aria-label="navbar" height="30">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-primary"
          aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-icon mt-3 primary-color-500 bg-light" width="50" height="50">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="header-bottom collapse navbar-collapse bg-light border-radius-10 py-2" id="navbar-primary">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark active p-0 mt-3 mt-lg-0" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">About</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">Services</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">Booking</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">Team</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">Faqs</a>
            </li>
            <li class="nav-item ps-4 pe-4 border-right">
              <a class="nav-link text-dark p-0" href="#">Department</a>
            </li>
            <li class="nav-item ps-4 pe-3 dropdown border-right">
              <a class="nav-link text-dark p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Pages <iconify-icon icon="iconamoon:arrow-down-2-fill"></iconify-icon> </a>
              <ul class="dropdown-menu">
                <li class="py-1"><a href="about.html" class="dropdown-item text-uppercase ">About <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="blog.html" class="dropdown-item text-uppercase ">Blog <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="blog-single.html" class="dropdown-item text-uppercase ">Blog-Single <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="booking.html" class="dropdown-item text-uppercase ">Booking <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="services.html" class="dropdown-item text-uppercase ">Services <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="departments.html" class="dropdown-item text-uppercase ">Departments
                    <span class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="gallery.html" class="dropdown-item text-uppercase ">Gallery <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="pricing.html" class="dropdown-item text-uppercase ">Pricing <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="contact.html" class="dropdown-item text-uppercase ">Contact <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="team.html" class="dropdown-item text-uppercase ">Our Team <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="review.html" class="dropdown-item text-uppercase ">Reviews <span
                      class="badge bg-secondary">Pro</span></a></li>
                <li class="py-1"><a href="faq.html" class="dropdown-item text-uppercase ">FAQs <span
                      class="badge bg-secondary">Pro</span></a></li>
              </ul>
            </li>
            <li class="nav-item ps-4 pe-4 ">
              <a class="nav-link get-pro text-dark fw-bold p-0" href="https://templatesjungle.gumroad.com/l/free-insove-medical-healthcare-bootstrap-5-html-website-template
              ">GET PRO</a>
            </li>
          </ul>
          <form class="search-form" role="search">
            <svg class="search primary-color position-absolute" width="18" height="18">
              <use xlink:href="#search"></use>
            </svg>
            <input class="form-control border-0 ps-4 position-relative" type="search" placeholder="Search.."
              aria-label="Search">
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section id="intro" style="background-color:#E8F0F1;">
    <div class="container">
      <div class="banner-content padding-large">
        <h1 class="display-3 fw-bold text-dark">Contact Us</h1>
        <span class="item"><a href="index.html" class="">Home</a></span> &nbsp; <span class="">/</span> &nbsp; <span
          class=" item">Contact</span>
      </div>
    </div>
  </section>
<section id="depression-prediction" class="py-5 mt-5">
    <div class="container">
        <h2 class="text-center">Depression Prediction</h2>
        <div class="progress my-4 height-[40px]">
            <div id="progress-bar" class="progress-bar bg-success" style="width: 25%;">Step 1 of 4</div>
        </div>
        <form id="multi-step-form">
            <!-- Step 1: Personal Information -->
            <div class="step active" id="step-1">
                <h4>Personal Information</h4>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" name="age" required placeholder="Enter your age" min="18" max="34">
                    <small id="age-error" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary next-btn">Next</button>
            </div>

            <!-- Step 2: Academic Details -->
            <div class="step" id="step-2">
                <h4>Academic Details</h4>
                <div class="form-group">
                    <label for="academic_pressure">Academic Pressure</label>
                    <select class="form-control" id="academic_pressure" name="academic_pressure" required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cgpa">CGPA (Cumulative Grade Point Average)</label>
                    <input type="number" step="0.01" class="form-control" id="cgpa" name="cgpa" required placeholder="From 0 to 10">
                </div>
                <div class="form-group">
                    <label for="study_satisfaction">Study Satisfaction</label>
                    <select class="form-control" id="study_satisfaction" name="study_satisfaction" required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="work_study_hours">Work/Study Hours</label>
                    <input type="range" class="form-control" id="work_study_hours" name="work_study_hours" min="0" max="12" value="6" required>
                    <span id="work_study_hours_value">6</span>
                </div>
                <div class="form-group">
                    <label for="new_degree">Degree</label>
                    <select class="form-control" id="new_degree" name="new_degree" required>
                        <option value="0">Graduated</option>
                        <option value="1">Post Graduated</option>
                        <option value="2">Higher Secondary</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                <button type="button" class="btn btn-primary next-btn">Next</button>
            </div>

            <!-- Step 3: Health Details -->
            <div class="step" id="step-3">
                <h4>Health Details</h4>
                <div class="form-group">
                    <label for="sleep_duration">Sleep Duration</label>
                    <select class="form-control" id="sleep_duration" name="sleep_duration" required>
                        <option value="0">Less than 5 hours</option>
                        <option value="1">5-6 hours</option>
                        <option value="2">7-8 hours</option>
                        <option value="3">More than 8 hours</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dietary_habits">Dietary Habits</label>
                    <select class="form-control" id="dietary_habits" name="dietary_habits" required>
                        <option value="0">Healthy</option>
                        <option value="1">Unhealthy</option>
                        <option value="2">Moderate</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="suicidal_thoughts">Have you ever had suicidal thoughts?</label>
                    <select class="form-control" id="suicidal_thoughts" name="suicidal_thoughts" required>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                <button type="button" class="btn btn-primary next-btn">Next</button>
            </div>

            <!-- Step 4: Family & Financial Details -->
            <div class="step" id="step-4">
                <h4>Family & Financial Details</h4>
                <div class="form-group">
                    <label for="family_history">Family History of Mental Illness</label>
                    <select class="form-control" id="family_history" name="family_history" required>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="financial_stress">Financial Stress</label>
                    <select class="form-control" id="financial_stress" name="financial_stress" required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" id="city" name="city" required>
                        <option value="Agra">Agra</option>
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Bhopal">Bhopal</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Faridabad">Faridabad</option>
                        <option value="Ghaziabad">Ghaziabad</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Indore">Indore</option>
                        <option value="Jaipur">Jaipur</option>
                        <option value="Kalyan">Kalyan</option>
                        <option value="Kanpur">Kanpur</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Lucknow">Lucknow</option>
                        <option value="Ludhiana">Ludhiana</option>
                        <option value="Meerut">Meerut</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Nagpur">Nagpur</option>
                        <option value="Nashik">Nashik</option>
                        <option value="Patna">Patna</option>
                        <option value="Pune">Pune</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Srinagar">Srinagar</option>
                        <option value="Surat">Surat</option>
                        <option value="Thane">Thane</option>
                        <option value="Vadodara">Vadodara</option>
                        <option value="Varanasi">Varanasi</option>
                        <option value="Vasai-Virar">Vasai-Virar</option>
                        <option value="Visakhapatnam">Visakhapatnam</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary prev-btn">Previous</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <div class="mt-4" id="prediction-result"></div>
    </div>
</section>
  <section class="contact-us-wrap py-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="contact-info col-md-6">
          <h2>Contact information</h2>

          <p>Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
          <div class="page-content">
            <div class="col-md-6">
              <div class="content-box my-5">
                <h5 class="element-title text-uppercase fs-6 fw-bold ">Head Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number ">
                  <a href="#">+123 987 321 ,</a>
                  <a href="#">+123 123 654</a>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">Insove@yourcompany.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box my-5">
                <h5 class="element-title text-uppercase fs-6 fw-bold ">Branch Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number ">
                  <a href="#">+123 987 321 ,</a>
                  <a href="#">+123 123 654</a>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contact@yourcompany.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box my-5">
                <h5 class="element-title text-uppercase fs-6 fw-bold ">Social info</h5>
                <div class="social-links">
                  <ul class="list-unstyled d-flex gap-3 mt-3 ">
                    <li>
                      <a href="#" class="text-secondary me-3 p-0">
                        <iconify-icon icon="ri:facebook-fill" class="social-icon "></iconify-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary me-3 p-0">
                        <iconify-icon icon="ri:instagram-line" class="social-icon "></iconify-icon>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary me-3 p-0">
                        <iconify-icon icon="ri:twitter-fill" class="social-icon "></iconify-icon>

                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary me-3 p-0">
                        <iconify-icon icon="ri:youtube-fill" class="social-icon "></iconify-icon>

                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary me-3 p-0">
                        <iconify-icon icon="ri:linkedin-fill" class="social-icon "></iconify-icon>

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inquiry-item col-md-6">
          <h2>Got any questions?</h2>

          <p>Use the form below to get in touch with us.</p>
          <form id="form" class="form-group flex-wrap">
            <div class="form-input col-lg-12 d-flex mb-3">
              <input type="text" name="email" placeholder="Write Your Name Here" class="form-control ps-3 me-3">
              <input type="text" name="email" placeholder="Write Your Email Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Write Your Subject Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <textarea placeholder="Write Your Message Here" class="form-control ps-3" rows="8"></textarea>
            </div>
            <div class="d-grid">
              <button class="btn btn-arrow btn-primary btn-lg btn-pill btn-dark fs-6">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-list pb-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 border-end">
          <div class="content-box ps-3 my-4">
            <h5 class="element-title text-uppercase">USA</h5>
            <div class="contact-address">
              <p>730 Glenstone Ave 65802, Springfield, US</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321 ,</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Insove@yourcompany.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 border-end">
          <div class="content-box ps-3 my-4">
            <h5 class="element-title text-uppercase">France</h5>
            <div class="contact-address">
              <p>13 Rue Montmartre 75001, Paris, France</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321 ,</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Insove@yourcompany.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box ps-3 my-4">
            <h5 class="element-title text-uppercase">Office</h5>
            <div class="contact-address">
              <p>18 Chapel Brow PR25 3NE, Leyland, UK</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321 ,</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">Insove@yourcompany.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="subscribe" class="d-flex align-items-center"
    style="background-image: url('{{ url_for('static', filename='images/subscribe-bg.jpg') }}'); background-repeat: no-repeat; background-size: cover; height: 444px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="subscribe-content">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="subscribe-header content-light mb-5">
                <span class="text-light text-uppercase">Our newsletter</span>
                <h3 class="display-3 fw-semibold text-light mt-3">Subscribe Us To Get More Updates</h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <form id="form" class="d-flex flex-wrap position-relative">
                <input type="text" name="email" placeholder="Your Email Addresss"
                  class="border-radius-35 text-light ps-4 outline-transparent">
                <button
                  class="btn btn-light btn-subscribe btn-pill position-absolute fw-medium text-uppercase">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="overflow-hidden padding-large pb-0">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-4 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
                <img src="{{ url_for('static', filename='images/main-logo.png') }}" alt="logo" class="pb-3">
            <p>Elit adipi massa diam in dignissim. Sagittis pulvinar ut dis venenatis nunc nunc.</p>
            <div class="contact-item">
              <p>
                <svg class="location primary-color" width="25" height="25">
                  <use xlink:href="#location"></use>
                </svg>
                <span>123 Arling, Miola, NY</span>
              </p>
              <p>
                <svg class="email primary-color" width="25" height="25">
                  <use xlink:href="#email"></use>
                </svg>
                <a href="mailto:">Info@yourinfo.com</a>
              </p>
              <p>
                <svg class="phone primary-color" width="25" height="25">
                  <use xlink:href="#phone"></use>
                </svg>
                <span>(+487) 384 9452</span>
              </p>
              <ul class="social-links list-unstyled d-flex mt-3">
                <li>
                  <a href="#">
                    <svg class="facebook text-primary-500 me-3" width="25" height="25">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="twitter text-primary-500 me-3" width="25" height="25">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="instagram text-primary-500 me-3" width="25" height="25">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="youtube text-primary-500 me-3" width="25" height="25">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="linkedin text-primary-500" width="25" height="25">
                      <use xlink:href="#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <h5 class="widget-title pb-2 fw-semibold">Quick Links</h5>
            <ul class="menu-list list-unstyled">
              <li class="pb-2">
                <a href="#intro">Home</a>
              </li>
              <li class="pb-2">
                <a href="#about-us">About</a>
              </li>
              <li class="pb-2">
                <a href="#our-services">Services</a>
              </li>
              <li class="pb-2">
                <a href="#book-appointment">Booking</a>
              </li>
              <li class="pb-2">
                <a href="#testimonial">Testimonial</a>
              </li>
              <li class="pb-2">
                <a href="#our-team">Our Team</a>
              </li>
              <li class="pb-2">
                <a href="#faqs">Faqs</a>
              </li>
              <li class="pb-2">
                <a href="#department">Department</a>
              </li>
              <li class="pb-2">
                <a href="#latest-blog">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <h5 class="widget-title fw-semibold">Opening Hours</h5>
            <table class="schedule">
              <tr class="d-flex justify-content-between border-bottom py-2">
                <td>Monday - Thursday</td>
                <td class="text-primary">8:00 am - 6:00 pm</td>
              </tr>
              <tr class="d-flex justify-content-between border-bottom py-2">
                <td>Friday - Saturday</td>
                <td class="text-primary">10:00 am - 4:00 pm</td>
              </tr>
              <tr class="d-flex justify-content-between border-bottom py-2">
                <td>Sunday</td>
                <td class="text-primary">Emergency only</td>
              </tr>
              <tr class="d-flex justify-content-between border-bottom py-2">
                <td>Personal</td>
                <td class="text-primary">7:00 pm - 9:00 pm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="d-md-flex text-center justify-content-between border-top mt-5 py-4">
        <p>© 2023 Insove - All rights reserved</p>
        <p>Free HTML Templates by: <a href="https://templatesjungle.com/" class="fw-semibold"> TemplatesJungle</a></p>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/depress.js') }}"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>